@import "variables.scss";

header {
  background-color:$primary-color;

  h1 {
    color:#fff;
    span {
      color:lighten($primary-color, 20%);
    }
  }

  nav {
    margin-top: 12px;
    margin-bottom: 10px;
    ul {
      margin:0px;
      padding:0px;
      li {
        position: relative;
        list-style: none;
        display: inline-block;
        font-size:22px;
        padding:10px 20px;
        a {
          color:#fff;
        }
      }
    }
  }
}
