/* Typography */
/* Colors */
/* Gutters */
header {
  background-color: #049372; }
  header h1 {
    color: #fff; }
    header h1 span {
      color: #07f6bf; }
  header nav {
    margin-top: 12px;
    margin-bottom: 10px; }
    header nav ul {
      margin: 0px;
      padding: 0px; }
      header nav ul li {
        position: relative;
        list-style: none;
        display: inline-block;
        font-size: 22px;
        padding: 10px 20px; }
        header nav ul li a {
          color: #fff; }
