@import "variables.scss";

body {
  color:$text-color;
}

h1 {
  font-family:$headings-font-family;
}

h2 {
  font-family:$headings-font-family;
}

h3 {
  font-family:$headings-font-family;
}

h4 {
  font-family:$headings-font-family;
}

h5 {
  font-family:$primary-font-family;
}

h6 {
  font-family:$primary-font-family;
}

h1,h2,h3,h4,h5,h6 {
  span {
    color:$primary-color;
  }
}


@import "header.scss";
