/* Typography */

$headings-font-family: 'Open Sans', sans-serif;
$primary-font-family:'Open Sans', sans-serif;

/* Colors */

$primary-color:#049372;
$text-color:#4b4b4b;

/* Gutters */

$gutter-row-width: 30px;
